.detailLabel {
	text-transform: capitalize;
}

.inner ul,
.inner h2,
.inner h4 {
	width: 70%;
	margin: 0 auto;
	padding: 1rem 0;
}
.inner h3 {
	max-width: 60%;
	min-height: 30vh;
	font-size: 2rem;
	color: rgba(250, 0, 0, 0.8);
	margin: 0 auto;
}
.pickerWrap input {
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	border-radius: 3px;
	border-color: rgb(250, 250, 250);
}
.setBtn {
	cursor: pointer;
	width: 20%;
	transition-duration: 500ms;
	align-self: start;
	margin: 1rem;
	padding: 0.25rem;
}
